spring:
  application:
    name: web-board
  datasource:
    url: jdbc:mariadb://localhost:3306/test
    username: test
    password: '!@test1234'
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    cache: false

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.webboard.entity
  configuration:
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    root: INFO
    com.webboard: DEBUG
    org.mybatis: DEBUG
